<h1>Authors</h1>

<h2>Search Author: </h2>
<%= form_tag authors_path, method: "GET" do %>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search" %>
<% end %>

<ul>
<% @authors.each do |author| %>
  <li><%= link_to  author.name, author_path(author) %></li>
<% end %>
</ul>



  <% @authors.each do |author| %>
    <% if author.image %>

    <div class="mcol-md-3">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="<%= author.image %>" alt="Card image cap">
        <div class="card-body">
        <h5 class="card-title"><%= author.name %></h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <% end %>

  <% end %>


    

</div>
  

