<h1><%= @author.name %></h1>
<p><%=  @author.bio %></p>
<h4>Books by <%= @author.name %></h4>
<ul>
  <% @author.books.each do |book| %>
  <li><%= link_to  book.title, book_path(book) %></li>
  <% end %>
</ul>
<p><%= link_to  "Authors Main Page", authors_path %>


