<h1>Create a new User or <%= link_to  "Login", login_path %>:</h1>

<%= form_for @user do |f| %>
    <div> <%= f.label :name %>
    <%= f.text_field :name %> </div><br>
    <div><%= f.label :email %>
    <%= f.text_field :email %></div><br>
    <div><%= f.label "Password" %>
    <%= f.password_field :password %></div><br>
    <%= f.submit %>
<% end %>
