
  <%= form_for @book do |f| %>
    <div class="form-group">
      <%= f.label "Title" %>
      <%= f.text_field :title, { class: 'form-control' } %>
    </div>
    <div class="form-group">
      <%= f.label "Author" %>
      <%= f.collection_select :author_id, Author.all, :id, :name, {}, {required: 'true', autofocus: 'true', class: 'form-control'} %> 
    </div>
    <div class="form-group">
      <%= f.label "Category" %>
      <%= f.select(:category, @categories, {}, {:class => 'form-control'}) %>
    </div>
    <div class="form-group"> 
      <%= f.label "Description" %>
      <%= f.text_area :description, class: 'form-control'  %> 
    </div>
    <div class="form-group">
      <%= f.label "Purchase Link" %>
      <%= f.text_field :purchase_url, class: 'form-control'  %> 
    </div>
    <div class="form-group"> 
      <%= f.label "Image Link" %>
      <%= f.text_field :image_url,class: 'form-control'  %> 
    </div>
    
    <%= f.button({ class: 'btn btn-primary' }) %> 
    
  <% end %>
