<h1>Add a new book:</h1>


<%= form_for @book do |f| %>
    <div> <%= f.label "Title" %>
    <%= f.text_field :title %> </div><br>
    <div> <%= f.label "Author" %>
    <%= f.collection_select :author_id, Author.all, :id, :name %> </div><br>
    <div> <%= f.label "Description" %>
    <%= f.text_area :description %> </div><br>
    <div> <%= f.label "Purchase Link" %>
    <%= f.text_field :purchase_url %> </div><br>
    <div> <%= f.label "Image Link" %>
    <%= f.text_field :image_url %> </div><br>
    <div> <%= f.submit %> </div><br>
<% end %>
