<h1><%= @book.title %></h1>
<h3>Author: <%= link_to @book.author.name, authors_path(@book.author) %></h3>
<%= image_tag(@book.image_url, height: 400)  %>

<% if current_user %>
    <% if !current_user.lists.any? {|l| l.book_id == cookies[:book_id]} %>
        <p><%= link_to "Add this book to your bookshelf", new_list_path %></p>
    <% else %>
        <p>Change bookshelf</p>
    <% end %>
<% end %>

<h4>Category: <%= @book.category %></h4>

<p>Description: <%= @book.description %></p>
<p><%= link_to  "Buy Here", @book.purchase_url %></p>

<% if current_user %>
<p><%= link_to "Edit this Book", edit_book_path(@book) %></p>
<% end %>

<p><%= link_to  "Books Main Page", books_path %>

<% if !@book.reviews.empty? %>
    <div>Reviews for <%= @book.title %>: </div>

    <ul>
        <% @book.reviews.each do |review| %>
            <li>Rating: <%= review.rating %></li>
            <li><%= review.comment %> added by <%= review.user.name %></li>
        <% end %>
    </ul>
<% else %>
    <p>There are no reviews for this book yet</p>
<% end %>

<% if current_user %>
<div><%= link_to  "Add Book Review", new_review_path %></div>
<% end %>


