<h1><%= @book.title %></h1>
<h3>Author: <%= link_to @book.author.name, authors_path(@book.author) %></h3>
<%= image_tag(@book.image_url, height: 400)  %>

<h4>Category: <%= @book.category %></h4>

<p>Description: <%= @book.description %></p>
<p><%= link_to  "Buy Here", @book.purchase_url %></p>

<p><%= link_to "Edit this Book", edit_book_path(@book) %></p>

<p><%= link_to  "Books Main Page", books_path %>

<% if !@book.reviews.empty? %>
    <div>Reviews for <%= @book.title %>: </div>

    <ul>
        <% @book.reviews.each do |review| %>
            <li>Rating: <%= review.rating %></li>
            <li><%= review.comment %> added by <%= review.user.name %></li>
        <% end %>
    </ul>
<% else %>
    <p>There are no reviews for this book yet</p>
<% end %>

<div>
<%= form_for @book do |f| %>
   <%= f.fields_for :reviews do |rf| %>
        <%= rf.label :rating %>
        <%= rf.select :rating, (1..5) %>
        <%= rf.label :comment %>
        <%= rf.text_area :comment %>      
    <% end %>
    <%= f.submit value="Add Review"%>
<% end %>
</div>


