<h1> WhyA Reads Analytics</h1>

<p>This app currently has <%= Book.count %> books, written by <%= Author.count %> authors.</p>
<p>This app has <%= User.count %> users, who have written <%= Review.count %> reviews.</p>
<% user_most_reviews = User.all.max_by {|user| user.reviews.count} %>
<p><%=  user_most_reviews.name %> has made the most reviews, with <%= user_most_reviews.reviews.count %>. Kudos to <%=  user_most_reviews.name %>!</p>
<% most_read = List.where(status: "Read").map(&:book_id) %>
<% top_read_book_id = most_read.max_by {|i| most_read.count(i) } %>
<p>Currently, <%= Book.find(top_read_book_id).title %> is the book that the most people have read.</p>


