<div>
<%= form_for ([@book, @book.reviews.build]) do |f| %>
   
      <div>
        <%= f.label :rating %>
        <%= f.select :rating, (1..5) %>
      </div><br><br>

      <div>
        <%= f.label :comment %>
        <%= f.text_area :comment %><br>
      </div>     
    
    <%= f.submit value="Add Review"%>
<% end %>
</div>