<div>
<%= @book.title %>
<%= form_for @review do |form| %>
   
        <div><%= form.label :rating %>
        <%= form.select :rating, (1..5) %></div><br>
        <div><%= form.label :comment %>
        <%= form.text_area :comment %></div><br>
        
        <%= form.button :submit %>    
    
<% end %>



</div>

