<div>
<%= form_for @book do |f| %>
   <%= f.fields_for :reviews do |rf| %>
        <div><%= rf.label :rating %>
        <%= rf.select :rating, (1..5) %></div><br>
        <div><%= rf.label :comment %>
        <%= rf.text_area :comment %></div><br>     
    <% end %>
    <%= f.submit value="Add Review"%>
<% end %>
</div>

